<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903399395266-kjpq7cut1oaa9hmh15i3049bbfmctbec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903399395266-kjpq7cut1oaa9hmh15i3049bbfmctbec</string>
	<key>API_KEY</key>
	<string>AIzaSyBSBVUrBRpanv9KuZndCidGHYZei7I4WkE</string>
	<key>GCM_SENDER_ID</key>
	<string>903399395266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dsm.courierapp</string>
	<key>PROJECT_ID</key>
	<string>deliverysystemmanagement</string>
	<key>STORAGE_BUCKET</key>
	<string>deliverysystemmanagement.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903399395266:ios:d11eb52cd139e1c4fcd05b</string>
</dict>
</plist>